* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   height: 5000px; 
   
}
.hader{
   background-color: rgb(236, 178, 243);
   width: 100%;
   height: 50px;
}
.list1 li{
   float: right;
   margin-left:15px;
   list-style-type: none;
   margin-right: 25px;
   margin-top: 10px;
}
.search form{
   margin-left: 30px;
   margin-top: -12px;
  }
 .search i {
     font-size: 30px;
     margin-top: 5px; 
     margin-left: 20px;
}
.inbut { 
   border-radius: 20px;
   font-size: large;
}
.home{
   position: relative;
   background: url(../image/blog_nicheparfmyZaMa230270ret169_7da2c4.jpg)  ;
   background-size: cover;
  width: 100%;
  height: 100vh;
 
}
.home-overlay{

   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0, 0, 0.5);
}
.home-contant{
   width: 60%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.home-t{
   font-size: 50px;
   color: aliceblue;
}
.home-p{
   color:rgb(253, 253, 253);
   margin: 20px 0px;
}
.home-b1{
   width: 145px;
   height:50;
   border-radius: 10px;
   font-size: 20px;
   background-color: rgb(236, 178, 243)
}
.home-b2{
   width: 145px;
   height: 50;
   border-radius: 10px;
   font-size: 20px;
}
.t{
   text-align: center;
   font-size: 50px;
}
.serv-cont1 {
   float: left;
   margin-left: 150px;
   border: 5px solid rgb(123, 144, 228) ;
   text-align: center;
   border-radius: 10px;
   height: 240px;
   position: relative;
}
.serv-cont2 {
   float: left;
   margin-left: 50px;
   border: 5px solid rgb(123, 144, 228);
   text-align: center;
   margin-right: 50px;
   border-radius: 10px;
   height: 240px;
   position: relative;
}
.serv-cont3 {
   float: left;
   border-radius: 10px;
   border: 5px solid rgb(123, 144, 228);
   text-align: center;
   height: 240px;
   position: relative;
}

.si{
   font-size: 40px;
   color:rgb(123, 144, 228) ;
 }
 .ser1t{
   font-size: 30px;
 }
 .ser1p{
   font-size:20px ;
 }
 .serv-cont1:after{
   content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 1s;
 }
 .serv-cont1:hover::after{
   width: 100%;
   height: 100%;
   opacity: 0.4;
 }
 .serv-cont2:after{
   content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 1s;
 }
 .serv-cont2:hover::after{
   width: 100%;
   height: 100%;
   opacity: 0.4;
 }
 .serv-cont3:after{
   content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 1s;
 }
 .serv-cont3:hover::after{
   width: 100%;
   height: 100%;
   opacity: 0.4;
 }
 .line{
   width: 100px;
   height: 4px;
   background-color: blue;
   margin: auto;
 }
 .service{
   margin-top: 90px;
 }



 .work{
  position:relative; 
   background-color: rgb(223, 207, 239);
   width: 100%;
   height: 100vh;
   margin-top: 600px;
  
 }
 
.w1,.w2,.w3,.w4,.w5,.w6{
  position: relative;
}
   
 .wtitle{
   font-size: 50px;
   color: aliceblue;
   text-align: center;
 }
 .img1{
   width: 350px;
   height: 200px;
   float: left;
    margin-top: 50px;
   margin-left: 200px;
   
  
   
   
 }
 .img2{
   width: 350px;
   height: 200px;
   float: left;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
  
  
 }
 .img3{
   width: 350px;
   height: 200px;
   float: left;
   margin-top: 50px;
  
  
 }
 .img4{
   width: 350px;
   height: 200px;
   float: left;
   margin-top: 50px;
   margin-left: 200px;

 }
 .img5{
   width: 350px;
   height: 200px;
   float: left;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
 }
 .img6{
   width: 350px;
   height: 200px;
   float: left;
   margin-top: 50px;
 }
 
  
 .work-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
   visibility: hidden;
   opacity: 0;
   

 }
.work:hover .work-overlay{
   visibility: visible;
    opacity: 0.4;
    transition: 1s;
    background-color: rgba(0,0,0,0.5);
}







.offer-t{
  font-size: 50px;
   color: rgb(8, 8, 9);
   text-align: center;
   margin-top: 30px;
 }
 .off-c1{
  float: left;
  margin-left: 250px;
  border: 5px solid rgb(123, 144, 228) ;
  text-align: center;
  border-radius: 10px;
  height: 240px;
  position: relative;
  width: 300px;

 }
 .off-c2{
  float: left;
  margin-left: 50px;
  border: 5px solid rgb(123, 144, 228);
  text-align: center;
  margin-right: 50px;
  border-radius: 10px;
  height: 240px;
  position: relative;
  width: 300px;

 }
 .off-c3{
  float: left;
   border-radius: 10px;
   border: 5px solid rgb(123, 144, 228);
   text-align: center;
   height: 240px;
   position: relative;
   width: 300px;
 }
 .off1t{
  text-align: center;
 }
 .off{
  margin-top: 50px;

 }
 .off1p{
  margin-top: 20px;
  color: grey;
  font-size: 20px;
 }
 .io{font-size: 20px;
color:rgb(123, 144, 228) ;
margin-top: 10px;
}
.off-c2:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c2:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.off-c3:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c3:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.off-c4{
  float: left;
  margin-left: 250px;
  border: 5px solid rgb(123, 144, 228) ;
  text-align: center;
  border-radius: 10px;
  height: 240px;
  position: relative;
  width: 300px;
  margin-top: 30px;

 }
 .off-c5{
  float: left;
  margin-left: 50px;
  border: 5px solid rgb(123, 144, 228);
  text-align: center;
  margin-right: 50px;
  border-radius: 10px;
  height: 240px;
  position: relative;
  width: 300px;
  margin-top: 30px;
 }
 .off-c6{
  float: left;
   border-radius: 10px;
   border: 5px solid rgb(123, 144, 228);
   text-align: center;
   height: 240px;
   position: relative;
   width: 300px;
   margin-top: 30px;
 }
 .off-c4:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c4:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.off-c5:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c5:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.off-c1:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c1:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.off-c6:after{
  content: "";
   position: absolute;
   background-color: black;
   width: 0;
   height: 0;
   top: 0;
   left: 0;
   transition: 1s;
}
.off-c6:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
 
.www{

padding-top: 700px;
padding-left: 100px;
  
}
.line1{
  width: 100px;
  height: 4px;
  background-color: blue;
 
}
.why-t{
  font-size: 40px;
}

.why-c{
  color: rgb(146, 143, 143);
  padding-top: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.why-p{
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline;
  padding-bottom: 20px;
}
.why-img{
  width: 400px;
  margin-left: 900px;
  height: 500px;
  margin-top: -300px;
}
.iw{
  color: blue;
}